@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;800&family=Rubik+Distressed&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background: rgb(18, 17, 34);
    color: #fff;
}

h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.movie-name{
    width: 40%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgb(26, 25, 41);
}

.fav-movies{
    background-color: rgb(26, 25, 41);
    border: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.container-filmes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.movies-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
    background: rgba(29, 28, 59, 1);
    box-shadow: 2px 2px 2px black;
}


.movie-information{
    display: flex;
    align-items: center;
    gap: 10%; 
}

.movie-title h2{
  font-size: 1rem;  
}

.movie-title{ 
    width: 300px;
}

.movie-description{
    margin-left: 2rem;
    width: 60%;
}

.icones{
    padding-top: 1rem;
}

.icones span{
    padding: 0.7rem;
}

.icones img{
    vertical-align: middle;
    padding-left: 0.5rem;
}

.movie-img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
    
}


@media(max-width:1123px){
    .movie-description p{
        font-size: 13px;
    }

    .movie-title h2{
        font-size: 10px;
    }
}

@media(max-width:1000px){
    .movies-list{
        flex-direction: column;
    }

    .movie-title h2{
        text-align: center;
   
    }
    .movie-information{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .movie-description p{
        padding-top: 1rem;
        text-align: center;
        max-width: 420px;
    }

    .icones{
        text-align: center;
    }
}

@media(max-width:486px){
    .movie-description p{
        font-size: 10px;
    }
}

