*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(18, 17, 34);
    color: #fff;
}

h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.movie-name{
    width: 40%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

.movies-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 1rem;
    background: rgba(29, 28, 59, 1);
    box-shadow: 2px 2px 2px black;
    
}

.movie-information{
    display: flex;
    align-items: center;
    gap: 10%;
    
    
}

.movie-title h2{
  font-size: 1rem;  
}

.movie-title{
    
    width: 300px;

}

.movie-description{
    margin-left: 2rem;
    width: 60%;
   
}

.icones{
    padding-top: 1rem;
    
}

.icones span{
    padding: 0.7rem;
    
}

.icones img{
    vertical-align: middle;
    padding-left: 0.5rem;
}

.movie-img{
  width: 200px;
  border-radius: 60px;
    
}

